@import './partials/variables.scss';

.faq-area  {
    padding-top: 120px;
    padding-bottom: 60px;
    background: var(--clr-theme-3);
    .container {
        width: 90%;
        margin-right: auto;
        margin-left: auto;

        .row {
            display: flex;
            flex-wrap: wrap;

            .col-lg-6 {
                .faq-img {
                    position: relative;
                    max-width: 580px;
                    background-color: yellow;

                    img {
                        width: 100%;
                        height: 580px;
                        border-radius: 100%;
                        object-fit: cover;
                    }
                }
            }
            @media (min-width: 992px) {
                .col-lg-6 {
                    flex: 0 0 auto;
                    width: 50%;
                }
            }
        }
        @media (min-width: 576px){
            max-width: 540px;
        }
        @media (min-width: 768px){
            max-width: 720px;
        }
        @media (min-width: 992px){
            max-width: 960px;
        }
        @media (min-width: 1200px){
            max-width: 1140px;
        }
        @media (min-width: 1400px){
            max-width: 1320px;
        }
    }
}