.portfolio-details-area {
    padding-top: 120px;
    padding-bottom: 90px;

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;

        .porfolio-details-wrapper {
            margin: auto;
            width: 90%;
            .portfolio-thumb {
                // width: 90%;
                margin: auto;
                img {
                    width: 100%;
                    object-fit: cover;
                    height: 500px;
                    border-radius: 10px;
                }
            }
            .portfolio-meta-wrapper{
                    background: var(--clr-common-white);
                    width: 90%;
                    box-shadow: 0 16px 32px 0 rgba(0,0,0,.08);
                    border-radius: 10px;
                    margin: -60px auto 50px;
                    padding: 30px 40px;
                    z-index: 5;
                    position: relative;
                    .portfolio-meta {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 20px;
                        flex-wrap: wrap;
                        .meta-list {
                            display: flex;
                            gap: 75px;
                            flex-wrap: wrap;

                            .meta-list-item {
                                display: block;
                                span {
                                    font-size: 20px;
                                    font-weight: 700;
                                    color: var(--clr-theme-1);
                                    text-transform: uppercase;
                                    font-family: Poppins,sans-serif;
                                    display: block;
                                    line-height: 1;
                                    margin-bottom: 6px
                                }
                                p {
                                    font-size: 14px;
                                    margin-bottom: 0;
                                    font-weight: 500;
                                    color: var(--clr-common-text);                                    
                                }

                                @media (max-width: 575px),only screen and (min-width:576px)and (max-width:767px) {
                                    width:calc((100% - 20px)/2)
                                    
                                }
                                
                                @media(max-width: 450px) {
                                    width:calc((100% - 0px)/1)
                                    
                                }
                            }

                            @media only screen and (min-width: 992px)and (max-width:1199px) {
                                gap:25px;
                                
                            }
                            
                            @media only screen and (min-width: 768px)and (max-width:991px) {
                                gap:10px;
                                justify-content: space-between;
                                flex-grow: 1;
                                
                            }
                            
                            @media (max-width: 575px),only screen and (min-width:576px)and (max-width:767px) {
                                gap:20px
                                
                            }
                                                        
                        }
                        .meta-list-btn {
                            .fill-btn {
                                font-size: 16px;
                                color: var(--clr-common-white);
                                font-weight: 700;
                                background: var(--clr-theme-1);
                                border: 1px solid var(--clr-theme-1);
                                height: 60px;
                                line-height: 58px;
                                border-radius: 10px;
                                padding: 0 38px;
                                position: relative;
                                overflow: hidden;
                                text-align: center;
                                text-transform: uppercase;
                                display: inline-flex;
                                align-items: center;
                                gap: 10px;
                                justify-content: center;
                                white-space: nowrap;
                            }                            
                        }
                    }
                    

                    @media only screen and (min-width: 576px)and (max-width:767px),only screen and (min-width:768px)and (max-width:991px),only screen and (min-width:992px)and (max-width:1199px) {
                        padding:30px;
                        
                    }
                    
                    @media(max-width: 450px) {
                        margin:-60px 20px 50px;
                        padding: 30px 20px;
                        
                    }
                    
                             
            }
            p {
                font-family: Roboto,sans-serif;
                font-size: 16px;
                font-weight: 400;
                color: var(--clr-common-text);
                margin-bottom: 15px;
                line-height: 26px; 
                
                a{
                    color: var(--clr-theme-1);
                    text-decoration: none;
                    font-weight: 600;
                }
                span {
                    color: var(--clr-theme-1);
                    text-decoration: none;
                    font-weight: 600;
                }
            }
            .portfolio-sub-image {
                display: flex;
                gap: 30px;
                flex-wrap: wrap;
                margin-top: 50px;
                margin-bottom: 60px;

                img {
                    border-radius: 10px;
                    height: 280px;
                    object-fit: cover;
                    width: calc((100% - 60px)/3);

                }
            }

            .porfolio-quote {
                background: #f6f6f6;
                padding: 40px 50px;
                display: flex;
                gap: 30px;
                align-items: center;
                border-radius: 10px;                                

                .quote-icon {
                    width: 120px;
                    height: 120px;
                    background: var(--clr-common-white);
                    text-align: center;
                    line-height: 120px;
                    border-radius: 50%;
                    min-width: 120px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        vertical-align: middle;
                       
                    }

                }
                .quote-content {
                    p{
                        font-size: 24px;
                        font-weight: 400;
                        color: var(--clr-theme-1);
                        line-height: 1.4;
                        margin-bottom: 15px;
                        @media (max-width: 575px),only screen and (min-width:576px)and (max-width:767px) {
                            font-size:22px
                            
                        }
                    }
                    .author-name {
                        font-size: 18px;
                        font-weight: 700;
                        color: var(--clr-theme-1);
                        text-transform: uppercase;
                        font-family: Poppins,sans-serif;
                        span {
                            color: var(--clr-theme-2);
                            font-size: 16px;
                            margin-left: 5px;
                        }
                    }
                }
                @media (max-width: 575px),only screen and (min-width:576px)and (max-width:767px) {
                    padding:40px 20px;
                    flex-direction: column;
                    align-items: flex-start
                    
                }
            }
            .portfolio-faq-wrapper {
                margin-bottom: 60px;
                margin-top: 50px;
                h4 {
                    font-size: 30px;
                    text-transform: uppercase;
                    margin-bottom: 17px;
                    font-weight: 700;
                    font-family: Poppins,sans-serif;
                    color: var(--clr-common-heading);
                    margin-top: 0;
                    font-weight: 700;
                    line-height: 1.2;
                    letter-spacing: -1px;
                }
                p{
                    font-family: Roboto,sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    color: var(--clr-common-text);
                    margin-bottom: 15px;
                    line-height: 26px;
                }
                .faq-wrapper {
                    .gm-faq-2coluumn {
                        .accordion {
                            display: flex;
                            flex-wrap: wrap;
                            -moz-column-gap: 50px;
                            column-gap: 50px;
                            row-gap: 20px;
                            .gm-faq-group {
                                display: flex;
                                flex-direction: column;
                                gap: 20px;  
                                .accordion-item  {
                                    // color: #000;
                                    overflow: hidden;
                                    // background-color: #fff;
                                    // border: 1px solid #dee2e6;
                                    .accordion-header{
                                        margin-bottom: 0;
                                        .accordion-btn{
                                            padding: 0 18px;
                                            border-radius: 10px;
                                            border: 2px solid var(--clr-theme-1);
                                            height: 60px;
                                            font-size: 18px;
                                            font-weight: 700;
                                            color: var(--clr-theme-1);
                                            text-transform: uppercase;
                                            font-family: Poppins,sans-serif;
                                            // padding: 0 8px 0 28px;
                                            justify-content: space-between;
                                            // box-shadow: 0 16px 32px 0 rgba(0,0,0,.08);
                                            text-align: left;
                                            background: var(--clr-common-white);  
                                            width: 100%;  
                                            position: relative;
                                            display: flex;
                                            align-items: center;
                                            width: 100%;  
                                            .plus {
                                                content: "ï§";
                                                background-image: none;
                                                font-family: Font Awesome\ 5 Pro;
                                                font-weight: 400;
                                                height: 40px;
                                                width: 40px;
                                                border: 2px solid var(--clr-theme-1);
                                                line-height: 36px;
                                                border-radius: 50%;
                                                margin-left: 0;
                                                text-align: center;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center; 
                                                svg {
                                                    font-size: 18px;

                                                }                                   
                                            }                                                                         

                                        }

                                    }
                                    .accordion-collapse {
                                        .accordion-body {
                                            font-size: 18px;
                                            line-height: 28px;
                                            padding: 24px 9px 5px 30px;                                    
                                        }
                                    }
                                    .accordion-close {
                                        display: none;
                                        transition: all .4s ease-in;
                                        
                                    }

                                    &:first-of-type {
                                        border-top-left-radius: 0.75rem;
                                        border-top-right-radius: 0.75rem
                                    }
                                }                          
                            }
                        }
                        .accordion>div {
                            width: calc((100% - 50px)/2);

                            @media (max-width: 575px),only screen and (min-width:576px)and (max-width:767px),only screen and (min-width:768px)and (max-width:991px) {
                                width:calc((100% - 0px)/1)
                                
                            }                            
                        }
                    }
                }
            }

            .portfolio-nav-wrapper {
                border-top: 1px solid #f0f0f0;
                padding-top: 30px;
                padding-bottom: 30px;
                .portfolio-nav-items {
                    gap: 30px;
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    .portfolio-single {
                        display: flex;
                        align-items: center;
                        gap: 14px;
                        .portfolio-image {
                            width: 45px;
                            height: 45px;
                            border-radius: 50%;
                            overflow: hidden;
                            img {
                                width: 100%;
                                height: 100%;
                                -o-object-fit: cover;
                                object-fit: cover
                            }
                        }
                        .portfolio-content {
                            .portfolio-title {
                                font-size: 24px;
                                color: var(--clr-theme-1);
                                margin-bottom: 0;
                                text-transform: uppercase;
                                font-weight: 700;
                                @media(max-width: 450px) {
                                    font-size:20px;
                                    
                                }
                            }
                            span {
                                font-size: 14px;
                                line-height: 1;
                                font-weight: 400;
                                color: var(--clr-common-text);
                            }
                        }
                        &:last-child {
                            flex-direction: row-reverse;
                            text-align: right;
                            @media (max-width: 575px),only screen and (min-width:576px)and (max-width:767px) {
                                flex-direction:row;
                                text-align: left
                                
                            }
                        }
                    }
                    .portfolio-icon {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);
                        @media (max-width: 575px),only screen and (min-width:576px)and (max-width:767px),only screen and (min-width:768px)and (max-width:991px) {
                                display:none;
                            
                        }
                    }

                    @media (max-width: 575px),only screen and (min-width:576px)and (max-width:767px) {
                        flex-direction:column;                        
                    }                    
                }
            }
        }

        @media (min-width: 576px){
            max-width: 540px;
        }
        @media (min-width: 768px){
            max-width: 720px;
        }
        @media (min-width: 992px){
            max-width: 960px;
        }
        @media (min-width: 1200px){
            max-width: 1140px;
        }
        @media (min-width: 1400px){
            max-width: 1320px;
        }
    }
}